@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Light'), local('Montserrat-Light'), url('../fonts/montserratlight.woff2') format('woff2'), url('../fonts/montserratlight.woff') format('woff'), url('../fonts/montserratlight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: local('Raleway Regular'), local('Raleway-Regular'), url('../fonts/ralewayregular.woff2') format('woff2'), url('../fonts/ralewayregular.woff') format('woff'), url('../fonts/ralewayregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: local('Raleway Medium'), local('Raleway-Medium'), url('../fonts/ralewaymedium.woff2') format('woff2'), url('../fonts/ralewaymedium.woff') format('woff'), url('../fonts/ralewaymedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'), url('../fonts/ralewayextrabold.woff2') format('woff2'), url('../fonts/ralewayextrabold.woff') format('woff'), url('../fonts/ralewayextrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: local('Raleway SemiBold'), local('Raleway-SemiBold'), url('../fonts/ralewaysemibold.woff2') format('woff2'), url('../fonts/ralewaysemibold.woff') format('woff'), url('../fonts/ralewaysemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.head {
    width: 100%;
    min-width: 1230px;
    min-height: 1024px;
    background-color: #211b19;
    background-image: url("../img/head-bg.jpg");
    background-size: cover;
}

.header-content-navigation{
    margin: 0 auto;
    width: 1230px;
    padding-top: 40px;
    display: flex;
    min-height: 56px;
    color: #fff;
}

.logo-block,
.header-content-navigation ul li,
.nav-buttons{
    display: flex;
    align-items: center;
}

.logo-block{
    color: #fff;
    text-decoration: none;
    font-size: 34px;
    font-family: "Raleway Regular", "Raleway", sans-serif;
    margin-right: 220px;
}

.header-content-navigation ul{
    display: flex;
    font-family: "Montserrat Light" ,"Montserrat", sans-serif;
    font-size: 14px;
}

.header-content-navigation ul li{
    margin-right: 30px;
}

.header-content-navigation ul li a{
    color: #fff;
    text-decoration: none;
}

.header-content-navigation ul li a:hover{
    color: #c7b299;
}

.header-content-navigation ul li a:active{
    color: #d9cab8;
}

.nav-buttons button{
    background-color: transparent;
    border: none;
    outline: none;
    margin-left: 30px;
    cursor: pointer;
}

.nav-buttons button svg {
    fill: #fff;
}

.nav-buttons button svg:hover {
    fill: #ac9785;
}

.nav-buttons button svg:active {
    fill: #736357;
}

form {
    position: relative;
    width: 60px;
    height: 42px;
}
input[type="text"] {
    height: 42px;
    width: 0;
    padding: 0 42px 0 15px;
    border: none;
    border-bottom: 2px solid transparent;
    outline: none;
    background: transparent;
    transition: .4s cubic-bezier(0, 0.8, 0, 1);
    position: absolute;
    top: 0;
    right: -10px;
    z-index: 2;
}
input[type="text"]:focus {
    width: 300px;
    z-index: 1;
    border-bottom: 2px solid #F9F0DA;
    background-color: #555;
    color: #fff;
}
.submit-button {
    background: transparent url("../img/icon-search.svg") no-repeat;
    border: none;
    height: 24px;
    width: 24px;
    position: absolute;
    top: 9px;
    right: 0;
    cursor: pointer;
    z-index: 1;
    outline: none;
}

.slider{
    min-height: 928px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.slider-left,
.slider-right{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-content{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: relative;
}

.slider-content :nth-child(1){
    order: 2;
}

.slider-content :nth-child(2){
    order: 1;
}

.slider-content :nth-child(3){
    order: 3;
}

.slider-content :nth-child(4){
    order: 4;
}

.slider-content h4 {
    font-size: 36px;
    font-family: "Raleway Medium", "Raleway", sans-serif;
    font-weight: 300;
}

.slider-content h3 {
    font-family: "Raleway ExtraBold", "Raleway", sans-serif;
    font-size: 52px;
    font-weight: bold;
}

.slider-content p {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    width: 580px;
    text-align: center;
    margin-bottom: 55px;
}

.started {
    width: 170px;
    height: 53px;
}

.started button,
.theme-info-button button{
    width: 170px;
    height: 50px;
    background-color: #998675;
    text-transform: uppercase;
    border-radius: 3px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 14px;
    font-family: "Raleway ExtraBold", "Raleway", sans-serif;
    font-weight: bold;
    border-bottom: 3px;
    box-shadow: 0 3px #736357;
    cursor: pointer;
}

.started button:hover,
.theme-info-button button:hover{
    background-color: #ac9785;
}

.started button:active,
.theme-info-button button:active{
    background-color: #736357;
    margin-top: 3px;
    box-shadow: none;
}

.pagination{
    width: 100%;
    height: 95px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle {
    display: block;
    width: 10px;
    height: 10px;
    background-color: #939190;
    border-radius: 50%;
    margin: 0 5px;
}

.circle-active {
    width: 10px;
    height: 10px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 0 0 0 2px #d3c1ad;
}

.circle:hover{
    background-color: transparent;
    box-shadow: 0 0 0 2px #d3c1ad;
}

.professions{
    width: 1230px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    padding: 80px 0;
}

.profession {
    width: 270px;
    text-align: center;
}

.profession svg{
    fill: #555;
    margin-bottom: 20px;
    height: 50px;
}
.profession:hover svg{
    fill: #c7b299;
}

.profession h3 {
    color: #555;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 15px;
}

.profession:hover h3 {
    color: #c7b299;
}

.profession p{
    color: #8c8c8c;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    margin-bottom: 25px;
    line-height: 1.714;
}

.profession hr{
    width: 70px;
    color: #f1eee9;
    background-color:#f1eee9;
    border: 0px none;
    height:3px;
    margin: 0 auto;
}

.profession:hover hr {
    color: #c7b299;
    background-color: #c7b299;
}

.ideas{
    width: 100%;
    min-width: 1230px;
    background-color: #fbfaf8;
}
.ideas-content{
    padding-top: 80px;
    width: 1230px;
    margin: 0 auto;
    text-align: center;
}

.ideas-content h2 {
    font-size: 30px;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    line-height: 1.2;
    color: #555;
    margin-bottom: 15px;
}

.ideas-content p{
    width: 760px;
    margin: 0 auto;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    color: #8c8c8c;
    line-height: 1.75;
    margin-bottom: 35px;
}

.ideas-img{
    width: 100%;
    min-height: 482px;
    position: relative;
}

.left-idea{
    position: absolute;
    width: 770px;
    height: 400px;
    background-color: #392821;
    background-image: url("../img/browser-left.jpg");
    left:0;
    bottom: 0;
    z-index: 1;
}
.right-idea{
    position: absolute;
    width: 770px;
    height: 400px;
    background-color: #2f231d;
    background-image: url("../img/browser-right.jpg");
    right:0;
    bottom: 0;
    z-index: 2;
}
.center-idea{
    position: absolute;
    width: 770px;
    height: 482px;
    background-color: #231c1a;
    background-image: url("../img/browser-center.jpg");
    margin:auto;
    left:0;
    right:0;
    bottom: 0;
    z-index: 3;
}

.theme-info{
    width: 100%;
    min-width: 1230px;
    min-height: 150px;
    background: #211b19;
    background: linear-gradient(to right, #211b19, #4e3427);
}

.theme-info-content{
    width: 1230px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.theme-info-title{
    width: 80%;
}

.theme-info-title h2{
    font-size: 28px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    color: #fff;
}

.theme-info-title h2 span{
    color: #c7b299;
}

.theme-info-title p{
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    color: #615855;
    font-weight: 300;
}

.theme-info-button{
    width: 20%;
}